<Router AppAssembly="@typeof(App).Assembly">
  <Found Context="routeData">
    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
  </Found>
  <NotFound>
    <PageTitle>Não encontrado</PageTitle>
    <LayoutView Layout="@typeof(MainLayout)">

      <style>
        .coming-soon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color: #f8f9fa;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .content-wrapper {
          text-align: center;
          background-color: white;
          padding: 50px;
          border-radius: 15px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .main-text {
          font-size: 48px;
          color: #007bff;
          margin-bottom: 20px;
        }

        .sub-text {
          font-size: 18px;
          color: #6c757d;
        }
      </style>

      <div class="coming-soon-container">
        <div class="content-wrapper">
          <h1 class="main-text">Ops!</h1>
          <p class="sub-text">Desculpe, página não localizada!</p>
        </div>
      </div>

    </LayoutView>
  </NotFound>
</Router>
